<div class="row" *ngIf="!photo; else mainContent">
    <p>Loading</p>
</div>

<ng-template #mainContent>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img [src]="'http://localhost:4000/'+photo.imagePath" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" class="form-control" [value]="photo.title" placeholder="Photo's title">
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" [value]="photo.description"
                            placeholder="Photo's description"></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">Update</button>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" (click)="deletePhoto(id)">Delete</button>
</ng-template>